/* Estilos CSS aqui */
.form-container {
    width: 793.8px;
    height: 1122.96px;
    margin: 0 auto;
  }

  /* Estilos para os campos do formulário */
  .form-field {
    margin-bottom: 2px;
    width: 350px;
  }

  .form-field label {
    display: block;
    margin-bottom: 1px;
  }

  .form-field input,
  .form-field textarea {
    width: 100%;
    padding: 5px;
  }

  /* Estilos para o botão de envio do formulário */
  .form-field input[type="submit"] {
    background-color: #150d86;
    color: white;
    cursor: pointer;
  }

  /* Estilos para o campo de arquivo */
  .form-field input[type="file"] {
    display: none;
  }

  .form-field .file-label {
    background-color: #150d86;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
  }

  .form-field .file-name {
    margin-top: 5px;
  }

  /* Estilos para o grid do formulário */
  .form-grid {
    display: grid;
    justify-items: left;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 1rem 1rem 1rem;
  }

  .form-grid .form-field {
    grid-column: span 1;
  }

  /* Estilos para a pré-visualização da imagem */
  .file-preview {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .file-preview img {
    max-height: 225px;
    max-width: 325px;
  }

  /* Estilos adicionais */
  .camposImg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .footer{
    color: black;
    opacity: 40%;
  }

  /* Configurações para impressão */
  @media print {
    .button-print {
      display: none;
    }
  }